BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "C1" ;
LOCATE COMP "mode_key" SITE "L14" ;
LOCATE COMP "rst" SITE "M13" ;
LOCATE COMP "beep" SITE "P13" ;
LOCATE COMP "din" SITE "G3" ;
LOCATE COMP "rck" SITE "H3" ;
LOCATE COMP "sck" SITE "J2" ;
LOCATE COMP "DQ" SITE "H12" ;
IOBUF PORT "clk" IO_TYPE=LVCMOS33 ;
IOBUF PORT "mode_key" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rst" IO_TYPE=LVCMOS33 ;
IOBUF PORT "beep" IO_TYPE=LVCMOS33 ;
IOBUF PORT "din" IO_TYPE=LVCMOS33 ;
IOBUF PORT "rck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "sck" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DQ" IO_TYPE=LVCMOS33 ;
